@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 2rem;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
}

button:active {
  background-color: #012e3a;
  color: wheat;
}

input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 2rem;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
}